<h2>Edit your item.</h2>

<div class='create_form'>
  <%= form_for @article, url: {action: 'create'} do |f| %>
      <%= f.label :title %><br>
      <%= f.text_field :title %><br>
      <%= f.label :body %><br>
      <%= f.text_area :body, size: "60x12" %><br>
      <%= f.label :link %><br>
      <%= f.text_field :link %><br>
      <%= f.label :causes %><br>
      <% options = options_from_collection_for_select(@causes, 'id', 'name', 1) %>
      <%= f.select :cause,  options, class: 'dropdown' %><br>
      <%= f.label :suggested_actions %><br>
      <!--<%= f.collection_check_boxes(:action_ids, @actions, :id, :name) do |b| %>-->
          <%= b.label("action_id": 'b.value') { b.check_box + b.text } %><br>
      <!--<% end %>-->
      <%= f.submit "Edit" %>
  <% end %>
</div>