<h2>Create a new story, article or event to publish to users.</h2>

<div class='create_form'>
  <%= form_for @article, url: {action: 'create'} do |f| %>
      <%= f.label :title %><br>
      <%= f.text_field :title %><br>
      <%= f.label :body %><br>
      <%= f.text_area :body, size: "60x12" %><br>
      <%= f.label :link %><br>
      <%= f.text_field :link %><br>
      <% options = options_from_collection_for_select(@causes, 'id', 'name', 1) %>
      <%= f.select :cause,  options, class: 'dropdown' %><br>
      <%= f.submit "Create" %>
  <% end %>
</div>