<h2>Create a new story, article or event to publish to users.</h2>

<div class='create_form'>
  <%= form_for @article, url: {action: 'create'}, class: 'space' do |f| %>
      <%= f.label :title, class: 'space'%><br>
      <%= f.text_field :title, required: true, class: 'space' %><br>
      <%= f.label :body, class: 'space' %><br>
      <%= f.text_area :body, size: "60x12", class: 'space' %><br>
      <%= f.label :link, class: 'space' %><br>
      <%= f.text_field :link, value: 'http://www.', class: 'space' %><br>
      <%= f.label :date, class: 'space' %><br>
      <%= f.text_field :date, placeholder: "mm/dd/yyyy", class: 'space' %><br>
      <%= f.label :location, class: 'space' %><br>
      <%= f.text_field :location, class: 'space' %><br>
      <%= f.label :causes, class: 'space' %><br>
      <% options = options_from_collection_for_select(@causes, 'id', 'name', 1) %>
      <div class="space"><%= f.select :cause,  options, class: 'dropdown space' %></div>
      <%= f.label :suggested_actions, class: 'space' %><br>
      <%= f.collection_check_boxes(:action_ids, @actions, :id, :name) do |b| %>
        <div class="space checkboxes">
          <%= b.check_box + b.label %>
        </div>
      <% end %>
      <%= f.submit "Create", class: 'submit_button' %>
  <% end %>
</div>