<!DOCTYPE html>
<html>
  <head>
    <title>BlankRailsScaffold</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class='row'>
    <% if flash[:success] %>
        <div class="success"><%= flash[:success] %></div>
    <% end %>
    <%= yield %>
  </div>

  </body>
</html>
